/*这个html居然不能删*/
html,
body {
   position: relative;
   height: 100%;
   width: 100%;
}

body {
   background: #eee;
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
   font-size: 14px;
   color: #000;
   height: 100%;
}

*{
   margin: 0px;
   padding: 0px;
   user-select: none;    /*好东西！！这样的话双击文本不会出现高亮变蓝的尴尬局面*/
   box-sizing: border-box;   /*使得浮动播放器不会超窗口*/
}

/*网页标头栏*/
.header{
   /*高度就不设限制了，省的窗口变大变小时网页变形*/
   width: 100%;
   background-color: white;
   display: inline-flex;     /*让head里面的两个元素横着排（为什么inline和inline-block不行呢？？）*/
   border-bottom:1px solid #80808043;
}
   /*网页左上角标识栏*/
   .header-img{
      margin-left: 2%;
      height: 105px;   /*设定固定大小（原图：568*281）*/
      width: 213px;;
   }

   /*不要被反串了，这个就是写给ul的，所以不要再添加一个“#header-nav ul{}了”*/
   #header-nav{
      position: relative;
      margin: auto 60px;
      background-color: white;   /*设置一级导航栏背景色*/
      z-index: 9;     /*我是一个一个找，终于发现加z-index是加在这里。学习同济大学新生院，我直接999*/
   }

   a{
      width: 130px;     /*设置一级菜单栏宽度（若是定义为#header-nav a则这句话没用）*/
      height: auto;
      /*上下、左右；上、左右、下；上、右、下、左*/
      margin-right: 20px;
      padding: 15px 10px;   /*设置一级导航菜单内部的字框间隔*/
      cursor: pointer;
      display: block;
      text-align: center;
      color: black;    /*设置字体色*/
      font-size:22px;
      text-decoration: none;   /*使超链接不要有下划线*/
      text-decoration:overline;
      line-height: 30px;   /*设定行间距*/
   }
   
      #header-nav ul{
         padding: 0px;
         /*display:inline-flex;*/
      }
      
      #header-nav ul li{
         float: left;   /*呜呜呜终于被我找到了，在这里加一条这个，就可以保证每个一级菜单的二级菜单不会全挤在第一个下面了*/
         list-style: none;   /*使元素前面不要有黑点点*/
         /*text-align: -webkit-match-parent;*/   /*不晓得什么鬼*/
      }

      #header-nav ul li a:hover{
         background-color: antiquewhite;   /*鼠标浮动在按钮上时，变色*/
      }

         /*同上，针对ul写的#（二级目录的实现可参见：https://blog.csdn.net/no2015214099/article/details/73196652)*/
         #header-nav ul li ul {
            position: absolute;
            display: none;   /*把它注释掉你就知道这句话在干嘛了*/
            padding-left: 0;   /*设置二级菜单框与二级导航栏的间距*/
            background-color: white;   /*设置二级导航栏的间距*/
            border: 1px solid rgb(189, 189, 189);  /*设置二级菜单边框*/
            box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
            border-radius: 5px;
         }

         #header-nav ul li ul li{
            float: none;  /*我超啊我超啊我超啊，最后败这个地方呜呜呜呜呜202210212202他真的我哭死*/
         }
         
         #header-nav ul li:hover ul{  
            display: block;   /*这句话用以hover触发二级菜单*/
         }

         #header-nav ul li ul li a {
            display:block;
            font-weight: 500;
            margin-right: 0px;
         }



   
/*搜索框（搜索框可参见：https://blog.csdn.net/Xmumu_/article/details/119807027）*/
.search-container {
  position: relative;
  background-color: white;
  height: 30px;
  margin: auto;
  margin-right: 5%;
  z-index: 9;
}

.search-bar{
  width: 275px;
  height: 40px;
  border-radius: 18px;
  outline: none;
  border: 1px solid #ccc;
  padding-left: 20px;
  position: absolute;
}

.search-btn{
  height: 40px;
  width: 40px;
  
  position: relative;
  background: url("../icon/search.png") no-repeat;
  background-size: 32px 32px;
  margin-left: 230px;    /*固定位置，与左侧相距250px*/
  margin-top: 3px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* 搜索下拉框*/
.search-container ul#drop {
   list-style: none;
   padding: 0;
}

.search-container ul#drop li {
   padding: 10px;
   color: black;   /*设置匹配栏字体颜色*/
   font-size: 17px;
   width:180px;
   border:1px solid gainsboro;
}

.search-container ul#drop li:hover {
   background-color: rgba(207, 207, 209, 0.308);
}

.search-container p#selectedId {
   display: inline-block;   /*把它注释掉你就知道这句话在干嘛了*/
   margin-left: 10px;
   background-color: white;   /*设置二级导航栏的间距*/
   border: 1px solid rgb(189, 189, 189);  /*设置二级菜单边框*/
   box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
   border-radius: 5px;
}



   
   /*图片滚动栏*/
.swiper {
    width: 100%;
    height: 80%;
 }
 
    .swiper-slide {
       text-align: center;
       font-size: 18px;
       background: #fff;
 
       /* Center slide text vertically */
       display: -webkit-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-box-pack: center;
       -ms-flex-pack: center;
       -webkit-justify-content: center;
       justify-content: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       -webkit-align-items: center;
       align-items: center;
    }
 
    .swiper-slide img {
       display: block;
       width: 100%;
       height: 100%;
       object-fit: cover;
    }
 
    /*修改swiper下的组件特性，此处修改的是滚动图像下方子弹的颜色*/
    .swiper-pagination-bullet-active{
       background-color: aqua;
    }