/*这个html居然不能删*/
html,
   body {
      position: relative;
      height: 100%;
      width: 100%;
   }

   body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      height: 100%;
   }

   
   /*图片滚动栏*/
.swiper {
    width: 100%;
    height: 80%;
 }
 
    .swiper-slide {
       text-align: center;
       font-size: 18px;
       background: #fff;
 
       /* Center slide text vertically */
       display: -webkit-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-box-pack: center;
       -ms-flex-pack: center;
       -webkit-justify-content: center;
       justify-content: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       -webkit-align-items: center;
       align-items: center;
    }
 
    .swiper-slide img {
       display: block;
       width: 100%;
       height: 100%;
       object-fit: cover;
    }
 
    /*修改swiper下的组件特性，此处修改的是滚动图像下方子弹的颜色*/
    .swiper-pagination-bullet-active{
       background-color: aqua;
    }